<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://3dbea398-9897-4607-af75-a31b0138148d.mysql.sequelizer.com/db3dbea39898974607af75a31b0138148d</property>
        <property name="connection.username">iytyuohpjmvrzvlm</property>
        <property name="connection.password">fs2UeEZcfHdyzpQp3nwmJR7aqG8avwZQEV45rMBWfR2pEZjhUHURBp2vu2CEFYNR</property>

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">1</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>

        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">false</property>
        <property name="format_sql">false</property>

        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">validate</property>

        <property name="connection.autocommit">true</property>

        <mapping class="com.api.model.Position"/>

    </session-factory>

</hibernate-configuration>